@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


@keyframes rotate-in {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(225deg) }
}

@keyframes rotate-out {
  0% { transform: rotateZ(225deg) }
  100% { transform: rotateZ(0deg) }
}