@import "variables";

/** images misc */

.circle {
  border-radius: 50%;
  &:before { 
    padding-top: 100%; 
    content: ''; 
    display: block; 
  }
}

.img-bg {
  background-position: center center;
  background-size: cover;
}

/** end images misc */

/** filter inputs */

.filters {
    margin-bottom: 10pt;
    
    input, select {
      border: none;
      border-bottom: 1px solid $light-color;
      padding: 0 0 2pt 0;
      // line-height: 16pt;
      height: calc(2.25rem + 2px);
    }
  }

/** end filter inputs */

/** floating button */

.floating-btn {
  position: fixed;
  right: 42pt;
  bottom: 32pt;

  .btn {
    $size: 44pt;
    height: $size;
    width: $size;
    border-radius: $size/2;
    box-shadow: 0px 2px 5px 0px $dark-color;
    transition: all 0.2s;

    .fa {
      -webkit-text-stroke-width: 3pt;
      font-size: 24pt;
      line-height: 38pt;
    }

    &:active {
      box-shadow: 0px 4px 14px 0px $dark-color;
    }
  }

  &.with-options {
    .options {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: all 0.1s ease-in;
      z-index: -1; // behind main button

      .btn {
        border-radius: 3pt;
        width: auto;
        height: auto;
        padding: 5pt 10pt;
        margin: 0 0 0 auto;
        display: block;
      }
    }

    &.opened {
      & > .btn .fa {
        animation: rotate-in 0.3s forwards;
        transform-origin: 51% 47%;
      }

      .options {
        transition: all 0.3s ease-out;
        opacity: 1;
        .btn {
          margin-bottom: 16pt;
          &:last-child {
            margin-bottom: 70pt;
          }
        }
      }
    }

    &.closed > .btn .fa {
      transform-origin: 51% 47%;
      animation: rotate-out 0.3s forwards;
    }
  }
}

/** end floating button */


/** tag-like selector */

.Select {
    position: relative;
    padding: 0;

    &.no-placeholder .Select-placeholder {
        display: none;
    }
}
.Select-control {
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0 0 5px;
}
.Select--multi .Select-multi-value-wrapper {
    display: inline-block;

    .Select-value {
        padding: 5px 10px 5px 2px;
        margin-top: 5px;
        background-color: $lighter-color;
        border-radius: 2px;
        color: $text-color;
        display: inline-block;
        font-size: 0.9em;
        line-height: 1.4;
        margin-left: 5px;
        vertical-align: top;
    }
}
.Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid $white;
    padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon, .Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle;
}
.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Select--multi .Select-value-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
}
.Select .Select-placeholder {
    padding: 5px;
}
.Select--multi .Select-value-icon, .Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle;
}
.Select .Select-aria-only {
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    float: left;
}
.Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    margin-top: 5px;
}
.Select--multi.has-value .Select-input {
    margin-left: 5px;
}
.Select--multi .Select-input {
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;
}
.Select-input > input {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    padding: 8px 0 12px;
    -webkit-appearance: none;
}
.Select--multi .Select-clear-zone {
    width: 17px;
}
.Select-clear {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}
.Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 5px;
}
.Select-menu-outer .Select-option {
    padding: 5px 10px;
    cursor: pointer;
    &:hover, &:focus, &:active, &.is-focused {
        background-color: $lighter-color;
    }
}
.Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
}

/** end tag-like selector */

