@import 'Integrations.scss';

#main > .alarms {
	@extend .integrations;

	.alarm-card {
		@extend .integration-card;

		&.enabled {
			@include theme-card($alarm-enabled-color, $white);
		}
		&.disabled {
			@include theme-card($alarm-disabled-color, $white);
		}

		button {
			margin-top: 14px;
		}

		.id {
			@extend .id;
		}

		h5 {
			overflow: hidden;
		    height: 21px;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    margin: 0 1.2em 1.3em 0;
		}

		.quick-options {
			position: absolute;
			top: 10px;
			right: 10px;

			button {
				border: none !important;
				margin: 0;
				outline: none !important;
				box-shadow: none !important;
				cursor: pointer;
				display: block;
			}
		}
	}

}

.alarm-edit-modal {
	@extend .integration-edit-modal;

	#condition_value {
		border: 2px solid #aaa;
	}

	.alarm-description {
		font-style: italic;
		padding: 14px;
		background-color: #efefef;
		font-size: 0.9em;
		border-radius: 3px;
	}
}