@import "animations";
@import "variables";

#main > .billing {
	animation: fadeIn 1s;
	padding: $main-view-padding;

	.projects-list-item {
		position: relative;
	}

	.latest-invoices {
		&.expenses {
			margin-top: 20pt;
		}
	}

	.invoices-list {
		margin-top: 7pt;

		h4 {
			text-align: left;
			font-size: 1em;
			font-weight: bold;
		}

		.invoices-list-item {
			padding-top: 5pt;

			.attachment-col {
				margin-top: -10pt;
				margin-bottom: 10pt;
			}

			.open-attachment {
				font-size: 0.9em;
				text-decoration: none !important;
				color: $text-color;

				i { margin-right: 3pt }
			}

			.card-body {
				padding: 1.24rem;
			}
		}
	}

	.spaced {
		margin-bottom: 15pt;
	}

	.overwork-card, .unpaid-card, .missing-invoice-card, .opportunities-card {
		h4 {
			font-size: 1.2em;
		}
	}

	.opportunities-card, .missing-invoice-card {
		.card-body {
			padding-bottom: 0;
		}
		li {
    		padding: 5pt 0;
    		&:last-child {
    			border-bottom: solid 1px $lighter-color;
    		}
		}
		.reference {
			font-size: 0.85em;
			margin-top: 10pt;
			font-style: italic;
			color: #aaa;
		}
	}
}

.invoices-list {
	footer {
		font-size: 0.85em;
		i { margin-right: 7pt; }
		& > * { padding-right: 5px;	}
	}

	.paid .card, li.display.paid {
		border-left: 3px solid $paid-color;
	}
	.unpaid .card, li.display.unpaid { 
		border-left: 3px solid $unpaid-color;
	}
}

.money-text {
	font-size: 0.9em;
	font-style: italic;
}