@import "animations";
@import "variables";

.overview {
	animation: fadeIn 1s;
	padding: $main-view-padding;

	.row + .row {
		margin-top: 15pt;
	}

	.monthly-objective-card,
	.monthly-avg-card {
		.card-title {
			font-size: 1.3rem;
		}
	}

	.monthly-objective-card {
		margin-top: 15pt;
	}

	.overview-billing-cards .amount {
		font-size: 3.0em;
	    font-weight: 400;
	}
}

