@import "animations";
@import "variables";

.layout.overview {
	background-image: url(https://i.pinimg.com/originals/6e/52/42/6e5242aab82fdb8822649c916a2ed714.gif);
}

.overview {
	animation: fadeIn 1s;
	padding: $main-view-padding;

	.row + .row {
		margin-top: 15pt;
	}

	.smaller-title {
		.card-title {
			font-size: 1.3rem;
		}
	}

	.monthly-objective-card {
		margin-top: 15pt;
	}

	.overview-billing-cards .amount {
		font-size: 3.0em;
	    font-weight: 400;
	}
}

