@import "animations";
@import "variables";

.dashboard {
	animation: fadeIn 1s;
	padding: $main-view-padding;

	& > .row > * > .row, .today-objectives {
		margin-bottom: 20pt;
	}
	.small-activity {
		margin-top: 20pt;
	}
	
	.latest-activity-list .activity-list-item {
		margin-bottom: 10pt;

		.card .card-body {
			padding: 12pt;

			.activity-item-meta {
				position: absolute;
				top: 5pt;
				font-size: 0.7em;
			}

			.description-col {
				padding-top: 10pt;
			}
		}
	}

	.date-control {
		position: absolute;
		top: 0;
		background: transparent;
		border: none;
		box-shadow: none;
		padding: 20px;
		color: $text-color;
		outline: none !important;

		&.day__prev {
			left: 0;
		}
		&.day__next {
			right: 0;
		}
	}

	.objectives-summary .summary-card {
		color: $lighter-text-color;

		p b {
			color: $light-text-color;
		}

		p.label {
			margin-top: 1rem;
			margin-bottom: 0;
		}

		&.celebration {
			animation: fadeInDown 0.7s ease-out forwards;
			opacity: 0;
			height: 100%; // match the other card

			.card-body {
				background-position: center;
				background-size: cover;
			}

			@for $i from 0 through 4 {
				&.style-#{$i} .card-body {
					background-image: url('./../images/celebration_#{$i}.gif');
					.card-title { color: $darker-color; } 

					// tweaks for each celebration image
					@if $i == 0 { 
						background-position-y: 5pt; 
						.card-title { color: $white; } 
					}
					@if $i == 4 { 
						background-position-y: 20pt; 
						.card-title { color: $white; } 
					}
					@if $i == 2 { background-position-y: 10pt; }
				}
			}
		}
	}

	.today-objectives .list {
		margin-bottom: 12pt;

		.objective {
			&.scratched {
				.list-number { display: none }
			}
			&.completed {
				.list-number { 
					background-color: $done-color;
					border-color: transparent;
					.fa { color: $white; }
				}
			}
		}
	}		
}