@import 'variables';

$trello-color:  #026AA7;
$teamwork-color: #65d656;
$slack-color: #E19424;
$email-color: #27bcb0;

@mixin theme-card($mainColor, $fontColor) {
	background-color: $mainColor;
	& * { color: $fontColor !important; }

	button {
		background: transparent !important;
		border: 1px solid $fontColor !important;
	}

	.integration-service span {
		background: $fontColor;
		color: $mainColor !important;
	}
}

#main > .integrations {
	animation: fadeIn 1s;
	padding: $main-view-padding;

	.title-card {
		margin-bottom: 20pt;
	}

	.integration-card {
		margin-bottom: 20pt;

		.card-body {
			padding-bottom: 8pt;
		}

		h4 {
			font-size: 1em;
			margin-bottom: 10pt;
		}

		.author {
			text-align: center;
			font-size: 0.8em;
			margin-top: 10px;
		}

		.integration-service span {
			padding: 3pt 8pt;
			background: $accent-color;
			color: $white;
			border-radius: 3pt;
			font-weight: bold;
		}

		button {
			margin: 10pt 0 10pt;

			&.view-details {
				margin-right: 10pt;
			}
			&:last-child {
				margin-right: 0;
			}
		}

		.id {
			font-size: 0.4em;
		}

		&.trello {
			@include theme-card($trello-color, $white);
		}
		&.teamwork {
			@include theme-card($teamwork-color, $white);
		}
		&.slack {
			@include theme-card($slack-color, $white);
		}
		&.email {
			@include theme-card($email-color, $white);
		}
	}
}

.integration-edit-modal {
	.btn.delete {
		margin-right: auto;
		border: $error-color;
		color: $error-color;
		background: transparent;
	}
}

.integration-instructions-modal {
	ul {
		padding-left: 15pt;
		li {
			margin-bottom: 5pt;
		}
		.body pre {
			font-size: 0.8em;
		}
	}
}