@import "variables";

$sidebarWidth: 70px;

/** general style */

body {
  font-family: $main-font;
  font-size: $font-size;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: $letter-spacing;
  background-color: $body-bg;
  color: $text-color;
  * { word-wrap: normal !important; }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1pt;
  text-align: center;
  color: $headline-fg;
  line-height: 1.4rem;
}

pre {
  white-space: pre-wrap;
}

.btn {
  border-radius: 0;
  outline: none !important;
  border: 0 !important;
  padding: 5pt 8pt;
  font-size: 11pt;

  &.floating {
    $size: 44pt;
    position: fixed;
    right: 42pt;
    bottom: 32pt;
    height: $size;
    width:$size;
    border-radius: $size/2;
    box-shadow: 0px 2px 5px 0px $dark-color;
    transition: all 0.2s;
    .fa {
      -webkit-text-stroke-width: 3pt;
      font-size: 24pt;
      line-height: 38pt;
    }

    &:active {
      box-shadow: 0px 4px 14px 0px $dark-color;
    }
  }
}

p {
  font-size: $p-font-size;
  font-weight: $p-font-weight;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.form-control, select {
  border-radius: 0 !important;
  font-size: 0.9em;
}

select {
  -webkit-appearance: textfield;
}

.pagination {
  border-radius: 0;
  justify-content: center;
  border-top: 1px solid $lighter-color;
  .page-link {
    cursor : pointer;
    border-radius: 0 !important;
  }
  .page-item {
    border-bottom: none;
  }
  .page-item.active .page-link {
    background-color: $dark-color;
    border-color: $dark-color;
    &:hover {
      color: $white;
    }
  }
  & + p {
    margin: 0 auto 5pt;
    font-size: 0.7em;
    text-align: center;
  }
}

.col-form-label {
  font-size: 0.9em;
}

.tag {
	background-color: $warn-color;
	color: $white;
	font-size: 0.7em;
	padding: 2pt 4pt 3pt;
	border-radius: 2pt;
	letter-spacing: 0.05em;
}

.tag.migrated {
	.date {
		font-weight: 400;
		letter-spacing: 0.1em;
		margin-left: 2pt;
	}
}

/** end general style */

/** main layout */

.layout {
  margin-left: $sidebarWidth;

  .card {
    background-color: $card-bg;
    border-radius: 1px;
    border: 0px;
    color: $card-fg;
    font-weight: lighter;
    letter-spacing: $p-letter-spacing;
    @include shadow;

    .card-title {
      margin-bottom: 1.3rem;
    }
  }
}

/** end main layout */

/** navigation */

.navbar {
  position: fixed;
  width: $sidebarWidth;
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
  background-color: $sidebar-bg;
  padding: 0;

  a.navbar-brand {
    margin: 10px 0 0;
    color: #fff !important;
  }

  .navbar-nav {
    width: 100%;
  
    .nav-item {
      a {
        display: block;
        color: #fff;
        padding: 10pt 20pt;
        font-size: 1.3em;
      }
    }
  }
}

/** end navgation */

/** Modals */

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
}

.modal-content {
  border-radius: 0;
  border: 0;

  .modal-header { 
    border: 0;

    .modal-title { 
      margin: 0 auto; 
      padding-top: 18pt;
    }

    .close {
      font-weight: 100;
      color: $text-color;
      align-self: flex-start;
    }
  }
  .modal-body {
    padding: 10pt 30pt;
    padding-top: 0;
    font-size: 0.9em;

    p.form-control-static {
      margin-bottom: 0;
    }

    .form-control {
      font-size: 0.9rem;
    }

    .form-group {
      margin-bottom: 1.4rem;
    }

  }

  .btn {
    min-width: 70pt;
  }
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.2);
}

/** end modals */

/** objectives */

.edit-objective-form {
  .static-objective-title {
    font-size: 1.2em;
  }
}

/** end objectives */


/** Lists  */

/* Large list */

.list--large {

  .list-empty {
    text-align: center;
    font-size: 1.1em;
    margin: 18pt 0;
  }

  .card-body {
    padding-bottom: 0;
  }

  li {
    padding: 14px 1.25rem 8px;
    margin: 0 -1.25rem;
    border-bottom: 1px solid $lighter-color;
    &:last-child {
      border-bottom: none;
    }

    h4 {
      font-size: $font-size;
      text-align: left;
      text-transform: none;
      margin: 0;
      letter-spacing: normal;

      @at-root .line-through h4 {
        text-decoration: line-through;
      }
    }

    h4 + p {
      margin-top: 10pt;
    }

    .list-number {
      border: 1px solid $text-color;
      border-radius: 12px;
      text-align: center;
      width: 24px;
      height: 24px;
      margin-bottom: 0;
      font-size: 0.8rem;
      line-height: 1.3rem;

      &.hundreds {
        font-size: 0.6em;
        line-height: 2.3em;
      }
    }

    .btn {
      padding: 0;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      background: none !important;
      color: $light-color;
      cursor: pointer;

      &:hover {
        color: $dark-color;
      }
    }
  }
}

.list {
  .list-item-bottom-options {
    .btn {
      margin-left: 10pt;
    }
  }  
}

/** end lists */

/** Progress bars */

.progress {
  border-radius: 0;
  box-shadow: 0px 0 0 2px $info-color;
  border: 3px solid white;
  background: none;

  &.warning {
    box-shadow: 0px 0 0 2px $warn-color;
  }

  .progress-bar {
    height: 1.5rem;
  }
}

/** end progress bars */

@import "components";
