@import "animations";
@import "variables";

#main > .project-dashboard {
	animation: fadeIn 1s;
	padding: $main-view-padding;

	.list .card-body {
		padding-bottom: 0;
	}

	.card {
		margin-bottom: 15pt;
		
		.status {
			font-size: 0.8em;
			font-style: italic;
			color: #bbb;
			margin-top: 5pt;
		}
	}

	.project-balance {
		h6 {
			color: #bbb;
		}
		span {
			font-size: 2.2em;
			&.balance-hours:after {
				content: ' hrs';
				font-size: 0.5em;
			}
		}
		.row {
			margin-top: 10pt;
		}
		.status-bars {
			margin-bottom: 15px;
		}
	}
}
