@import "animations";
@import "variables";

#main > .project-dashboard {
	animation: fadeIn 1s;
	padding: $main-view-padding;

	.list .card-body {
		padding-bottom: 0;
	}

	.card {
		margin-bottom: 15pt;
		
		.status {
			font-size: 0.8em;
			font-style: italic;
			color: #bbb;
			margin-top: 5pt;
		}
	}

	.project-work-entries {
		.card-body {
			padding-bottom: 10pt;
		}

		li {
			padding-top: 10pt;
		}

		.description {
			margin: 5pt 0 10pt;
		}
		footer {
			font-size: 0.85em;
			.time {
				font-weight: 800;
			}
			.ago {
				font-style: italic;
				color: #bbb;
			}
		}

		.project-work-entries-options {
			.btn, .btn:hover, .btn:active, .btn:focus {
				background-color: transparent;
				color: $dark-color;
				box-shadow: none;
			}
			.btn { color: $text-color; }
		}
	}

	.project-balance {
		h6 {
			color: #bbb;
		}
		span {
			font-size: 2.2em;
			&.balance-amount:before {
				content: '$ ';
				font-size: 0.5em;
			}
			&.balance-hours:after {
				content: ' hrs';
				font-size: 0.5em;
			}
		}
		.row {
			margin-top: 10pt;
		}
	}
}
