@import "variables";
@import "animations";

#main > .tasks {
	animation: fadeIn 1s;
	padding: $main-view-padding;

	.tasks.list {
		padding-bottom: 10pt;
	}
}

.task-review {
	padding: 20pt;
	margin-top: 22pt;
	background: $lighter-color;
	border-radius: 4px;

	h4, h6 {
		text-align: left;
		font-size: 0.9em;
		margin-bottom: 0;
	}

	h6 {
		font-size: 0.75em;
		font-weight: 600;
	}

	p {
		margin: 8pt 0 0;
		font-size: 0.9em;
	}
}