@import "variables";
@import "animations";

#main > .tasks {
	animation: fadeIn 1s;
	padding: $main-view-padding;

	.tasks.list {
		padding-bottom: 10pt;

		.tag.origin {
			background-color: $light-color;
		}

		.tags {
			margin: 0;
		}
	}

	.tasks-list-filters {
		margin-bottom: 10pt;
		
		input, select {
			border: none;
			border-bottom: 1px solid $light-color;
			padding: 0 0 2pt 0;
			// line-height: 16pt;
			height: calc(2.25rem + 2px);
		}
	}
}

.tags-input {
	.Select-menu-outer, .Select-arrow-zone {
		display: none;
	}
}

.task-review {
	padding: 20pt;
	margin-top: 22pt;
	background: $lighter-color;
	border-radius: 4px;

	h4, h6 {
		text-align: left;
		font-size: 0.9em;
		margin-bottom: 0;
	}

	h6 {
		font-size: 0.75em;
		font-weight: 600;
	}

	p {
		margin: 8pt 0 0;
		font-size: 0.9em;
	}
}