@import "variables";
@import "animations";

#main > .tasks {
	animation: fadeIn 1s;
	padding: $main-view-padding;

	.tasks.list {
		padding-bottom: 10pt;

		.tag.origin {
			background-color: $light-color;
		}

		.tags {
			margin: 0;
		}
	}
}

.task-review, .task-email-body {
	padding: 20pt;
	margin-top: 22pt;
	background: $lighter-color;
	border-radius: 4px;

	&.task-email-body { margin-top: 0; }

	h4, h6 {
		text-align: left;
		font-size: 0.9em;
		margin-bottom: 0;
	}

	h6 {
		font-size: 0.75em;
		font-weight: 600;
	}

	p {
		margin: 8pt 0 0;
		font-size: 0.9em;
	}

	pre {
		font-family: $main-font;
		color: $dark-color;
	}
}