// fonts //
 
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800');

$main-font: 'Lato', sans-serif;

// general palette //

$darker-color: #2a3d48;
$dark-color: #87898a;
$light-color: #5b676f;
$lighter-color: #22313a;
$white: #fff;
$info-color: #0a7a8c;
$warn-color: #bf9108;
$error-color: #d00b00;
$accent-color: $info-color;

$text-color: #969696;
$light-text-color: #a2a2a2;
$lighter-text-color: #c2cbce;

$done-color: $info-color;
$paid-color: #1dbd68;
$unpaid-color: lighten($error-color, 30%);

// component-specific //

$sidebar-bg: $darker-color;
$body-bg: $lighter-color;
$card-bg: $darker-color;
$card-fg: $text-color;
$headline-fg: #c2cbce;
$tag-color: $accent-color;
$tag-completed-color: $paid-color;
$select-value-bg-color: $darker-color;
$select-value-fg-color: $lighter-text-color;
$select-value-x-border-color: $body-bg;
$select-options-fg-color: $lighter-text-color;
$select-options-active-fg-color: $white;
$input-bg-color: $body-bg;
$active-input-bg-color: #314550;
$active-input-text-color: $white;
$filter-bg-color: transparent;
$page-link-bg-color: $body-bg;
$page-link-fg-color: $white;
$status-bar-content-bg: $body-bg;
$not-worked-color: $body-bg;
$not-paid-color: #027da7;
$overworked-bg-color: $unpaid-color;
$near-limit-color: #ffdf80;
$overworked-fg-color: $unpaid-color;
$alarm-enabled-color: darken(#65d656, 20%);
$alarm-disabled-color: lighten($darker-color, 5%);
$message-bar-info-color: $paid-color;
$message-bar-error-color: $error-color;
$overview-invoice-income-color: #FFD046;
$overview-invoice-expense-color: #aaaaaa;
$input-invalid-border-color: #f90b0b;

// service-specific //

$trello-color: darken(#026AA7, 5%);
$teamwork-color: darken(#65d656, 20%);
$slack-color: darken(#E19424, 10%);
$email-color: darken(#27bcb0, 10%);

@mixin shadow {
	box-shadow: 0px 2px 6px 0px #d7d7d7;
	-webkit-box-shadow: 0px 2px 6px 0px #d7d7d7;
}

// general sizing //

$font-size: 1rem;
$line-height: 1.5;
$letter-spacing: normal;

$p-font-size: 0.9rem;
$p-font-weight: lighter;
$p-letter-spacing: normal;

// generic classes  //

.btn-primary {
	background-color: $body-bg;
	color: white;
}
.btn-secondary {
	background-color: $body-bg;
	color: $text-color;
}
.btn:hover {
	background-color: $darker-color;
}
.btn {
	text-transform: lowercase;
}
.done-color {
	color: $done-color !important;
}
.btn-accent {
	color: $white;
	$hover-color: darken( $accent-color, 10% );
	background-color: $accent-color;
	&:hover {
		background-color: $hover-color;
	}
}
.floating-btn .btn-accent {
	$hover-color: darken( $accent-color, 10% );
	.fa { -webkit-text-stroke-color: $accent-color; }
	&:hover .fa { -webkit-text-stroke-color: $hover-color; }
}

.modal-content {
	background-color: $body-bg;
}

.modal-backdrop {
	background-color: #000;
}

.modal .close {
	text-shadow: none;
}

/** overrides */

input[type=text], input[type=email], input[type=password], input[type=date],
input[type=checkbox], input[type=radio], select, .form-control {
	border: none;
}

.modal {
	input[type=text], input[type=email], input[type=password], input[type=date],
	input[type=checkbox], input[type=radio], select, .form-control {
		border: 1px solid $light-color;
	}
}

.layout .card {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.progress {
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	border: none;
	background-color: $body-bg;
}

.progress .progress-bar {
    height: 1.7rem;
}

.overview, [class*="overview-"] {
	select {
		background-color: $darker-color;
	}
}

pre {
	color: $text-color;
}
